HVTApp/EventServiceClient2/Service References/ServiceReference1/EventService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_HostIsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:HostIsAlive" />
  </wsdl:message>
  <wsdl:message name="IEventService_HostIsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostIsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToChat" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToChatResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToUser" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_StartDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_StopDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StopDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_PerformDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_AcceptDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_RejectDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SavePriceCalculationPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_StartPriceCalculationPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_FinishPriceCalculationPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishPriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_CancelPriceCalculationPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveIncomingRequestPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIncomingRequestPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveIncomingDocumentPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIncomingDocumentPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveTechnicalRequarementsTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTechnicalRequarementsTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_StartTechnicalRequarementsTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTechnicalRequarementsTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_InstructTechnicalRequarementsTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InstructTechnicalRequarementsTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_CancelTechnicalRequarementsTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelTechnicalRequarementsTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_RejectTechnicalRequarementsTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectTechnicalRequarementsTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnServiceDisposeEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServiceDisposeEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSendMessageToChat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSendMessageToChat" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSendMessageToUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSendMessageToUser" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnStartDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStartDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnStopDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStopDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnPerformDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPerformDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnAcceptDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnAcceptDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnRejectDirectumTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRejectDirectumTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSavePriceCalculationServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSavePriceCalculationServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnStartPriceCalculationServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStartPriceCalculationServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnFinishPriceCalculationServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFinishPriceCalculationServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnCancelPriceCalculationServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCancelPriceCalculationServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveIncomingRequestServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveIncomingRequestServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveIncomingDocumentServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveIncomingDocumentServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveTechnicalRequarementsTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnStartTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStartTechnicalRequarementsTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnInstructTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnInstructTechnicalRequarementsTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnCancelTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCancelTechnicalRequarementsTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnRejectTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRejectTechnicalRequarementsTaskServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_IsAlive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IEventService_IsAlive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Connect" message="tns:IEventService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ConnectResponse" message="tns:IEventService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Disconnect" message="tns:IEventService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DisconnectResponse" message="tns:IEventService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostIsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/HostIsAlive" message="tns:IEventService_HostIsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/HostIsAliveResponse" message="tns:IEventService_HostIsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SendMessageToChat" message="tns:IEventService_SendMessageToChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SendMessageToChatResponse" message="tns:IEventService_SendMessageToChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SendMessageToUser" message="tns:IEventService_SendMessageToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SendMessageToUserResponse" message="tns:IEventService_SendMessageToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveDirectumTaskPublishEvent" message="tns:IEventService_SaveDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/StartDirectumTaskPublishEvent" message="tns:IEventService_StartDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/StopDirectumTaskPublishEvent" message="tns:IEventService_StopDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/PerformDirectumTaskPublishEvent" message="tns:IEventService_PerformDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/AcceptDirectumTaskPublishEvent" message="tns:IEventService_AcceptDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/RejectDirectumTaskPublishEvent" message="tns:IEventService_RejectDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePriceCalculationPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SavePriceCalculationPublishEvent" message="tns:IEventService_SavePriceCalculationPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPriceCalculationPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/StartPriceCalculationPublishEvent" message="tns:IEventService_StartPriceCalculationPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishPriceCalculationPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/FinishPriceCalculationPublishEvent" message="tns:IEventService_FinishPriceCalculationPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPriceCalculationPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/CancelPriceCalculationPublishEvent" message="tns:IEventService_CancelPriceCalculationPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingRequestPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveIncomingRequestPublishEvent" message="tns:IEventService_SaveIncomingRequestPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingDocumentPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveIncomingDocumentPublishEvent" message="tns:IEventService_SaveIncomingDocumentPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTechnicalRequarementsTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveTechnicalRequarementsTaskPublishEvent" message="tns:IEventService_SaveTechnicalRequarementsTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTechnicalRequarementsTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/StartTechnicalRequarementsTaskPublishEvent" message="tns:IEventService_StartTechnicalRequarementsTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstructTechnicalRequarementsTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/InstructTechnicalRequarementsTaskPublishEvent" message="tns:IEventService_InstructTechnicalRequarementsTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelTechnicalRequarementsTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/CancelTechnicalRequarementsTaskPublishEvent" message="tns:IEventService_CancelTechnicalRequarementsTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectTechnicalRequarementsTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/RejectTechnicalRequarementsTaskPublishEvent" message="tns:IEventService_RejectTechnicalRequarementsTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnServiceDisposeEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnServiceDisposeEvent" message="tns:IEventService_OnServiceDisposeEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToChat">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSendMessageToChat" message="tns:IEventService_OnSendMessageToChat_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSendMessageToUser" message="tns:IEventService_OnSendMessageToUser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveDirectumTaskServiceCallback" message="tns:IEventService_OnSaveDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnStartDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnStartDirectumTaskServiceCallback" message="tns:IEventService_OnStartDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnStopDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnStopDirectumTaskServiceCallback" message="tns:IEventService_OnStopDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPerformDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnPerformDirectumTaskServiceCallback" message="tns:IEventService_OnPerformDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnAcceptDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnAcceptDirectumTaskServiceCallback" message="tns:IEventService_OnAcceptDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnRejectDirectumTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnRejectDirectumTaskServiceCallback" message="tns:IEventService_OnRejectDirectumTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSavePriceCalculationServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSavePriceCalculationServiceCallback" message="tns:IEventService_OnSavePriceCalculationServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnStartPriceCalculationServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnStartPriceCalculationServiceCallback" message="tns:IEventService_OnStartPriceCalculationServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFinishPriceCalculationServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnFinishPriceCalculationServiceCallback" message="tns:IEventService_OnFinishPriceCalculationServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCancelPriceCalculationServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnCancelPriceCalculationServiceCallback" message="tns:IEventService_OnCancelPriceCalculationServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingRequestServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveIncomingRequestServiceCallback" message="tns:IEventService_OnSaveIncomingRequestServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingDocumentServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveIncomingDocumentServiceCallback" message="tns:IEventService_OnSaveIncomingDocumentServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveTechnicalRequarementsTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveTechnicalRequarementsTaskServiceCallback" message="tns:IEventService_OnSaveTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnStartTechnicalRequarementsTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnStartTechnicalRequarementsTaskServiceCallback" message="tns:IEventService_OnStartTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnInstructTechnicalRequarementsTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnInstructTechnicalRequarementsTaskServiceCallback" message="tns:IEventService_OnInstructTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCancelTechnicalRequarementsTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnCancelTechnicalRequarementsTaskServiceCallback" message="tns:IEventService_OnCancelTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnRejectTechnicalRequarementsTaskServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnRejectTechnicalRequarementsTaskServiceCallback" message="tns:IEventService_OnRejectTechnicalRequarementsTaskServiceCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/IsAlive" message="tns:IEventService_IsAlive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/IsAliveResponse" message="tns:IEventService_IsAlive_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEventService" type="tns:IEventService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEventService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostIsAlive">
      <soap12:operation soapAction="http://tempuri.org/IEventService/HostIsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToChat">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SendMessageToChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToUser">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SendMessageToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/StartDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StopDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/StopDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PerformDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/PerformDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/AcceptDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RejectDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/RejectDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SavePriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SavePriceCalculationPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartPriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/StartPriceCalculationPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinishPriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/FinishPriceCalculationPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelPriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/CancelPriceCalculationPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingRequestPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveIncomingRequestPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingDocumentPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveIncomingDocumentPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveTechnicalRequarementsTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveTechnicalRequarementsTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartTechnicalRequarementsTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/StartTechnicalRequarementsTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InstructTechnicalRequarementsTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/InstructTechnicalRequarementsTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelTechnicalRequarementsTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/CancelTechnicalRequarementsTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RejectTechnicalRequarementsTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/RejectTechnicalRequarementsTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnServiceDisposeEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnServiceDisposeEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToChat">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSendMessageToChat" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToUser">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSendMessageToUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStartDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnStartDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStopDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnStopDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPerformDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnPerformDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAcceptDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnAcceptDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRejectDirectumTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnRejectDirectumTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSavePriceCalculationServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSavePriceCalculationServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStartPriceCalculationServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnStartPriceCalculationServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFinishPriceCalculationServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnFinishPriceCalculationServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCancelPriceCalculationServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnCancelPriceCalculationServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingRequestServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveIncomingRequestServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingDocumentServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveIncomingDocumentServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveTechnicalRequarementsTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveTechnicalRequarementsTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnStartTechnicalRequarementsTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnStartTechnicalRequarementsTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstructTechnicalRequarementsTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnInstructTechnicalRequarementsTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCancelTechnicalRequarementsTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnCancelTechnicalRequarementsTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRejectTechnicalRequarementsTaskServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnRejectTechnicalRequarementsTaskServiceCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IEventService/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="NetTcpBinding_IEventService" binding="tns:NetTcpBinding_IEventService">
      <soap12:address location="net.tcp://localhost:8302/EventService.EventService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/EventService.EventService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>