HVTApp/EventServiceClient2/Service References/ServiceReference1/EventService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveDirectumTaskPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SavePriceCalculationPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveIncomingRequestPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIncomingRequestPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_SaveIncomingDocumentPublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveIncomingDocumentPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveDirectumTaskPublishEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveDirectumTaskPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSavePriceCalculationPublishEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSavePriceCalculationPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveIncomingRequestPublishEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveIncomingRequestPublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSaveIncomingDocumentPublishEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSaveIncomingDocumentPublishEvent" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Connect" message="tns:IEventService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ConnectResponse" message="tns:IEventService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Disconnect" message="tns:IEventService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DisconnectResponse" message="tns:IEventService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDirectumTaskPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveDirectumTaskPublishEvent" message="tns:IEventService_SaveDirectumTaskPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePriceCalculationPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SavePriceCalculationPublishEvent" message="tns:IEventService_SavePriceCalculationPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingRequestPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveIncomingRequestPublishEvent" message="tns:IEventService_SaveIncomingRequestPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingDocumentPublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SaveIncomingDocumentPublishEvent" message="tns:IEventService_SaveIncomingDocumentPublishEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveDirectumTaskPublishEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveDirectumTaskPublishEvent" message="tns:IEventService_OnSaveDirectumTaskPublishEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSavePriceCalculationPublishEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSavePriceCalculationPublishEvent" message="tns:IEventService_OnSavePriceCalculationPublishEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingRequestPublishEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveIncomingRequestPublishEvent" message="tns:IEventService_OnSaveIncomingRequestPublishEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingDocumentPublishEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSaveIncomingDocumentPublishEvent" message="tns:IEventService_OnSaveIncomingDocumentPublishEvent_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEventService" type="tns:IEventService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEventService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveDirectumTaskPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SavePriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SavePriceCalculationPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingRequestPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveIncomingRequestPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveIncomingDocumentPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SaveIncomingDocumentPublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnSaveDirectumTaskPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveDirectumTaskPublishEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSavePriceCalculationPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSavePriceCalculationPublishEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingRequestPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveIncomingRequestPublishEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSaveIncomingDocumentPublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSaveIncomingDocumentPublishEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="NetTcpBinding_IEventService" binding="tns:NetTcpBinding_IEventService">
      <soap12:address location="net.tcp://localhost:8302/EventService.EventService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/EventService.EventService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>