HVTApp/EventServiceClient2/Service References/ServiceReference1/EventService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEventService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HVTApp.Infrastructure" />
      <xsd:import schemaLocation="http://localhost:8301/EventService.EventService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HVTApp.Infrastructure.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IEventService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_HostIsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:HostIsAlive" />
  </wsdl:message>
  <wsdl:message name="IEventService_HostIsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostIsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_UserIsConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIsConnected" />
  </wsdl:message>
  <wsdl:message name="IEventService_UserIsConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIsConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToChat" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToChatResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToUser" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendMessageToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendNotificationToService_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationToService" />
  </wsdl:message>
  <wsdl:message name="IEventService_SendNotificationToService_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationToServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_PriceEngineeringTaskSendMessagePublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:PriceEngineeringTaskSendMessagePublishEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_PriceEngineeringTaskSendMessagePublishEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PriceEngineeringTaskSendMessagePublishEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_ApplicationShutdown_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ApplicationShutdown" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnServiceDisposeEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServiceDisposeEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSendMessageToChat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSendMessageToChat" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnSendMessageToUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnSendMessageToUser" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnNotificationCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNotificationCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnNotificationCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNotificationCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnPriceEngineeringTaskSendMessageServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPriceEngineeringTaskSendMessageServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IEventService_OnPriceEngineeringTaskSendMessageServiceCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPriceEngineeringTaskSendMessageServiceCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_IsAlive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IEventService_IsAlive_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Connect" message="tns:IEventService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ConnectResponse" message="tns:IEventService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Disconnect" message="tns:IEventService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DisconnectResponse" message="tns:IEventService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostIsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/HostIsAlive" message="tns:IEventService_HostIsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/HostIsAliveResponse" message="tns:IEventService_HostIsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIsConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/UserIsConnected" message="tns:IEventService_UserIsConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/UserIsConnectedResponse" message="tns:IEventService_UserIsConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SendMessageToChat" message="tns:IEventService_SendMessageToChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SendMessageToChatResponse" message="tns:IEventService_SendMessageToChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SendMessageToUser" message="tns:IEventService_SendMessageToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SendMessageToUserResponse" message="tns:IEventService_SendMessageToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNotificationToService">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/SendNotificationToService" message="tns:IEventService_SendNotificationToService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SendNotificationToServiceResponse" message="tns:IEventService_SendNotificationToService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PriceEngineeringTaskSendMessagePublishEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/PriceEngineeringTaskSendMessagePublishEvent" message="tns:IEventService_PriceEngineeringTaskSendMessagePublishEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/PriceEngineeringTaskSendMessagePublishEventResponse" message="tns:IEventService_PriceEngineeringTaskSendMessagePublishEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplicationShutdown">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ApplicationShutdown" message="tns:IEventService_ApplicationShutdown_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnServiceDisposeEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnServiceDisposeEvent" message="tns:IEventService_OnServiceDisposeEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToChat">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSendMessageToChat" message="tns:IEventService_OnSendMessageToChat_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnSendMessageToUser" message="tns:IEventService_OnSendMessageToUser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNotificationCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnNotificationCallback" message="tns:IEventService_OnNotificationCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/OnNotificationCallbackResponse" message="tns:IEventService_OnNotificationCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPriceEngineeringTaskSendMessageServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/OnPriceEngineeringTaskSendMessageServiceCallback" message="tns:IEventService_OnPriceEngineeringTaskSendMessageServiceCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/OnPriceEngineeringTaskSendMessageServiceCallbackResponse" message="tns:IEventService_OnPriceEngineeringTaskSendMessageServiceCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/IsAlive" message="tns:IEventService_IsAlive_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/IsAliveResponse" message="tns:IEventService_IsAlive_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEventService" type="tns:IEventService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEventService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IEventService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostIsAlive">
      <soap12:operation soapAction="http://tempuri.org/IEventService/HostIsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIsConnected">
      <soap12:operation soapAction="http://tempuri.org/IEventService/UserIsConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToChat">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SendMessageToChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToUser">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SendMessageToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNotificationToService">
      <soap12:operation soapAction="http://tempuri.org/IEventService/SendNotificationToService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PriceEngineeringTaskSendMessagePublishEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/PriceEngineeringTaskSendMessagePublishEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationShutdown">
      <soap12:operation soapAction="http://tempuri.org/IEventService/ApplicationShutdown" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServiceDisposeEvent">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnServiceDisposeEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToChat">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSendMessageToChat" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnSendMessageToUser">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnSendMessageToUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnNotificationCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnNotificationCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPriceEngineeringTaskSendMessageServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IEventService/OnPriceEngineeringTaskSendMessageServiceCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IEventService/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="NetTcpBinding_IEventService" binding="tns:NetTcpBinding_IEventService">
      <soap12:address location="net.tcp://localhost:8302/EventService.EventService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/EventService.EventService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>